.valid-css, .super-valid-css {
  font-size: 10px;
  color: #00bb00;
  background: url('hello.png');
  .valid-css-child, .hello {
    font-size: 12px;
    color: red;
    .trying  {
      color: black;
    }
  }
}
